[submodule "src/Clarity/YandexOAuthBundle"]
    path = src/Clarity/YandexOAuthBundle
    url = git@github.com:clarity-project/ClarityYandexOAuthBundle.git

[submodule "src/Clarity/YandexDirectBundle"]
    path = src/Clarity/YandexDirectBundle
    url = git@github.com:clarity-project/ClarityYandexDirectBundle.git

[submodule "src/Clarity/CdnBundle"]
    path = src/Clarity/CdnBundle
    url = git@github.com:clarity-project/ClarityCdnBundle.git
